# === Base de datos ===
DB_HOST=100.77.130.5
DB_USER=owner
DB_PASSWORD=root
DB_NAME=DB_ByleAdministration

# === Servidor ===
PORT=3000

# === Google OAuth (futuro) ===
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
