<nav class="navbar">
  <a href="/dashboard" class="navbar-brand">
    <div>
      <div class="navbar-logo">BY<span>LE</span></div>
      <div class="navbar-sub">Portal cliente</div>
    </div>
  </a>
  <div class="navbar-avatar">CM</div>
</nav>
